.sidebar{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 60vW;
    margin-top: 60px;
    height: calc(100vH - 60px);
    z-index: 0;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.sidebar.hidden{
    transform: translateX(-60vW);
}

.light-mode {
    background-color: var(--background-color-light-secondary)
}

.dark-mode {
    background-color: var(--background-color-dark-secondary)
}

.backdrop{
    position: absolute;
    height: 100vH;
    width: 100vW;
    top: 0px;
    left: 0px;
    background-color: rgba(58, 58, 58, 0.363);
    z-index: -1;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.backdrop.hidden{
    opacity: 0;
}