<nav [ngClass]="{ 'dark-mode': isDarkMode, 'light-mode': !isDarkMode }">
    @if (true) {
        <ul>
            @for (route of routes; track route.path) {
                <li>
                    <a routerLink='/{{route.path}}'>
                        {{route.name}}
                    </a>
                </li>
            }
        </ul>
    }@else{
        <button>
            <mat-icon class="icon" [ngClass]="{'white-icon': isDarkMode, 'dark-icon': !isDarkMode}">menu</mat-icon>
        </button>
        <app-side-bar-menu [darkMode]="isDarkMode"></app-side-bar-menu>
    }
    
    <app-menu-bar [darkMode]="isDarkMode">
        <img alt="profile picture" src="https://github.com/JesCvz.png"/>
    </app-menu-bar>
</nav>