<nav>
    @if (!isMobile) {
        <ul>
            @for (route of routes; track route.path) {
                <li>
                    <a href='/{{route.path}}'>
                        {{route.name}}
                    </a>
                </li>
            }
        </ul>
    }@else{
        <button>
            <mat-icon class="white-icon">menu</mat-icon>
        </button>
    }
    
    <app-menu-bar>
        <img alt="profile picture" src="https://github.com/JesCvz.png"/>
    </app-menu-bar>
</nav>