:root{
    color-scheme: light;
    --text-color-dark: #000;
    --text-color-light: #fff;
    --background-color-dark: #2c2c2c;
    --background-color-dark-secondary: #3b3b3b;
    --background-color-light: #ececec;
    --background-color-light-secondary: #f0f0f0;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.dark {
    color-scheme: dark;
}